%li.message__contents.clearfix
  %p.message__contents__sender
    = message.user.nickname
  %p.message__contents__time
    = message.created_at
  - if message.image.present?
    %p.message__contents__content
      = image_tag message.image
  - else
    %p.message__contents__content
      = message.body
