%li.conversation__group
  = link_to group_messages_path(sidebar.id), class: "conversation__group__link" do
    %p.conversation__group__name
      = sidebar.name
    %p.conversation__group__newest-message
      - if sidebar.messages.last().present?
        = sidebar.messages.last().body
      - else
        まだメッセージはありません。
