%li.chat-group-member.clearfix{user_id: user.id, user_nickname: user.nickname}
  %p.chat-group-member__name= user.nickname
  .chat-group-member__btn
    %p.chat-group-member__btn--remove 削除
  %input{type: "hidden", name: "group[user_ids][]", value: user.id}
